@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Sweet Mavka Script';
    src: url('fonts/SweetMavkaScript.woff2') format('woff2'), url('fonts/SweetMavkaScript.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Open sans', sans-serif;
    background-color: #fafafa;
}

.App {
    display: flex;
    flex-direction: column;
}

.Header {
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
        font-family: 'Sweet Mavka Script';
}

.Header h2 {
    font-size: 2em;
    cursor: pointer;
}

.Git {
    border: 1px solid #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 10px 20px;
    cursor: pointer;
}

.WorkPanel {
    display: flex;
    flex-direction: column;
}

.HeaderWorkPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 15px 40px;
    margin: 20px 0 0;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

.Btn {
    background-color: #9552e2;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1.2em;
    color: #fff;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.Btn:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.ReturnButtons {
    display: flex;
    gap: 15px;
}

.ReturnButtons div {
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sandbox {
    display: flex;
    height: 100vh;
}

.Aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    color: #777;
    flex: 0.3;
    padding: 40px 20px;
    gap: 25px;
    background-color: #fff;
    border-right: 2px solid #ccc;
}

.Aside div {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
    min-height: 100px;
}

.Aside div.active {
  background: #252525;
  color: white;
}

.Work {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 40px 60px;
    background-color: #fff;
    gap: 30px;
}

.Canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #333;
    background-color: #f5f5f5;
    color: #999;
    font-size: 1.2em;
    height: 100vh;
}

.Tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f5f5f5;
    padding: 20px 30px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 8px;
    color: #555;
}

.Tools div {
    padding: 8px;
}

.Tools div.active {
  background: #252525;
  color: white;
  border-radius: 15px;
}

