@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Sweet Mavka Script';
    src: url('fonts/SweetMavkaScript.woff2') format('woff2'), url('fonts/SweetMavkaScript.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Open sans', sans-serif;
    background-color: #fafafa;
}

.App {
    display: flex;
    flex-direction: column;
}

.Header {
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
        font-family: 'Sweet Mavka Script';
}

.Header h2 {
    font-size: 2em;
    cursor: pointer;
}

.Git {
    border: 1px solid #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 10px 20px;
    cursor: pointer;
    color: #252525;
    text-decoration: none;
}

.WorkPanel {
    display: flex;
    flex-direction: column;
}

.HeaderWorkPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 15px 40px;
    margin: 20px 0 0;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

.Btn {
    background-color: #9552e2;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1.2em;
    color: #fff;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.Btn:hover, .Btn-select {
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.ReturnButtons {
    display: flex;
    gap: 15px;
}

.ReturnButtons div {
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    filter: blur(2px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 10;
    pointer-events: none;
}

.overlay.active, .saveImg.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #7d32d3;
    background-color: #e3dfff;
    margin: 0 auto;
    margin-bottom: 60px;
}

.saveImg {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 400px;
    min-height: 600px;
    border: 2px solid #791fe0;
    border-radius: 25px;
    background-color: #fff;
    padding: 40px 60px;
    z-index: 20;
    transition: all 0.3s ease;
    pointer-events: none;
    transform: translate(-50%, -50%);
}


.saveInfo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.saveInfo input, .saveInfo select {
    margin-bottom: 20px;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.85em;
    border: 1px solid #999;
    transition: all 0.3s ease;
    outline: none;
}

.saveInfo input:hover, .saveInfo select:hover {
    border-color: #333;
}

.saveInfo input:focus, .saveInfo select:focus {
    border-color: #7d32d3;
}

.saveInfo label {
    margin-bottom: 3px;
    font-size: 1em;
    font-weight: 600;
}

.saveInfo label[for="resize"] {
    margin-bottom: 10px;
}


#resize {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

#resize div {
    width: auto;
    display: flex;
    flex-direction: column;
}

#resize div label {
    margin-bottom: 3px;
    font-size: 0.9em;
}

#resize div input {
    width: 90px;
    height: 25px;
    padding: 8px 12px;
    font-size: 0.85em;
    border-radius: 5px;
    border: 1px solid #999;
    transition: all 0.3s ease;
    outline: none;
}

#resize div input:hover {
    border-color: #333;
}

#resize div input:focus {
    border-color: #7d32d3;
}

.lock {
    display: inline-block;
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 5px;
    border-radius: 5px;
    height: auto;
    transition: all 0.3s ease;
}

.lock:hover {
    color: #791fe0;
    background-color: #e3dfff;
}

.btnsModal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin: 30px auto 0;
}

.btnsModal .Btn {
    border: none;
}

.btnsModal .close {
    background-color: #f9f9f9;
    color: #999;
    border: 1px solid #999;
}

.btnsModal .close:hover {
    color: #333;
    border: 1px solid #333;
    box-shadow: none;
}

.btnsModal .save:hover {
    background-color: #791fe0;
    box-shadow: none;
}

.Sandbox {
    display: flex;
    height: 100vh;
}

.Aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    color: #777;
    flex: 0.3;
    padding: 40px 20px;
    gap: 25px;
    background-color: #fff;
    border-right: 2px solid #ccc;
}

.Aside div {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
    min-height: 100px;
}

.Aside div.active {
  background: #252525;
  color: white;
}

.Work {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    padding: 40px 60px;
    background-color: #fff;
    gap: 40px;
}

.Btn-select {
    display: inline-block;
    background: #9552e2;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 400;
    border: none;
    font-size: 0.9em;
    outline: none;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 20px auto 0
}

.Canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #333;
    background-color: #f5f5f5;
    color: #999;
    font-size: 1.2em;
    width: 60%;
    margin: 0 auto;
    min-height: 400px;
    overflow: auto;
    height: auto;
     max-height: 80vh;
    position: relative;
}

.Canvas div {
    text-align: center;
}

.Canvas .ReactCrop {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.image-wrapper img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.image-wrapper {
    display: inline-block; /* ВАЖНО */
    transform-origin: center center;
    transition: all 0.1s ease;
}

.Canvas form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f5f5f5;
    padding: 20px 30px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 8px;
    color: #555;
    width: 100%;
    margin: 0 auto;
}

.Tools div.active {
  background: #252525;
  color: white;
  border-radius: 15px;
}


.Tools div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
}

.Tools div label {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 3px;
}

.Tools div span {
    font-size: 0.9em;
}

.Tools div input {
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    padding: 8px 12px;
    font-size: 1em;
    transition: all 0.3s ease;
}

.Tools div input:hover {
    border-color: #333;
}

.Tools div input:focus {
    border-color: #7d32d3;
}
 .Tools .lock {
    margin-top: 5px;
 }

.Tools .default {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e3dfff;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.Tools-parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.width, .height {
    flex-direction: column;
}

.range {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 40px;
    border-radius: 8px;
    width: 100%;
}
#range-line {
    cursor: pointer;
}